body{
    background-color: rgb(130, 106, 251);
    }
    .container {
      
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form {
      display: flex;
      margin-top: 50px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      background-color: #fff;
       }
    
    .input_container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
    }
    .input_container div {
      display: flex;
      flex-direction: column;
    }
    .input_feild {
      width: 400px;
      height: 40px;
      padding: 0 0 0 16px;
      outline: none;
      font-size: 16px;
      border-radius: 10px;
      border: 2px solid rgb(130, 106, 251);
    
    }
    .login_btn {
      width: 400px;
      height: 40px;
      border-radius: 9px;
      outline: none;
      background-color: rgb(130, 106, 251);
      color: #fff;
      font-size: 18px;
      border: none;
      cursor: pointer;
    }.login span{
      color: rgb(109, 87, 207);
      font-weight: 700;
    }
    
    @media (max-width: 400px) {
      .login_btn{
        width: 200px;
      } 
    }